{deps, [
  {json,
   {git, "git://github.com/talentdeficit/json.git",  {branch, "master"}}},
  {elli, "1.0.5"},
  {elli_cookie,
   {git, "git://github.com/yurrriq/elli_cookie.git", {branch, "master"}}}
]}.

{plugins, [
  {'lfe-compile', "0.4.1", {pkg, rebar3_lfe_compile}}
]}.

{provider_hooks, [
  {post, [{compile, {lfe, compile}}]}
]}.

{project_plugins, [
  {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {tag, "0.12.14"}}}
]}.

{lodox, [
  {apps, [
    {elli_cloudfront, [
      {'source-uri',
       "https://github.com/yurrriq/elli_cloudfront"
       "/blob/{version}/{filepath}#L{line}"}
    ]}
  ]}
]}.
