{deps, [
  {elli_cookie, "0.2.9"},
  {jsx,         "2.8.0"},
  %% FIXME: {lfe,         "1.2.0"}
  {lfe, {git, "git://github.com/yurrriq/lfe.git", {branch, "rebar-hook-fix"}}}
]}.

{plugins, [
  {'lfe-compile', "0.6.0", {pkg, rebar3_lfe_compile}}
]}.

{overrides, [
  {override, 'lfe-compile', [
    {deps, [
      {lfe, {git, "git://github.com/yurrriq/lfe.git", {branch, "rebar-hook-fix"}}}
    ]}
  ]}
]}.

{provider_hooks, [
  {post, [{compile, {lfe, compile}}]}
]}.

{project_plugins, [
  {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {branch, "develop"}}}
]}.

{profiles, [
  {test, [
    {deps, [
      %% FIXME: {elli,        "2.0.0"},
      {elli, {git, "git://github.com/elli-lib/elli.git", {branch, "develop"}}},
      {ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.9.0"}}}
    ]}
  ]}
]}.

{lodox, [
  {apps, [
    {elli_cloudfront, [
      {'source-uri',
       "https://github.com/elli-lib/elli_cloudfront"
       "/blob/{version}/{filepath}#L{line}"}
    ]}
  ]}
]}.
