{erl_opts, [debug_info]}.

{deps, [{lfe,         {git, "git://github.com/rvirding/lfe.git",
                       {tag, "1.0.1"}}},
        {elli,        "1.0.5"},
        {elli_cookie, {git, "git://github.com/yurrriq/elli_cookie.git",
                       {branch, "master"}}},
        {json,        {git, "git://github.com/talentdeficit/json.git",
                       {branch, "master"}}}]}.

{plugins, [{'lfe-compile', {git, "git://github.com/lfe-rebar3/compile.git",
                            {tag, "0.3.0"}}}]}.

{provider_hooks,  [{post, [{compile, {lfe, compile}}]}]}.

{project_plugins, [{lodox,
                    {git, "git://github.com/quasiquoting/lodox.git",
                     {tag, "0.12.10"}}}]}.

{lodox, [{apps,
          [{'elli-cloudfront', [{'source-uri',
                                 "https://github.com/yurrriq/elli-cloudfront"
                                 "/blob/master/{filepath}#L{line}"}]}]}]}.
